:root {--padding: 200px;--width:800px;--curve:10px}
body {background-color:#2b2b2b ;font-family:Arvo}
td, th {border: 3px ridge white; color:white}
p {padding:0px var(--padding);font-size:30px; color:lightgray}
a {color: magenta;}
img {width:var(--width); padding:0px var(--padding)}
.NB {border:none}